.search_container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    padding: 15px;
    margin-bottom: 10px;
  }
  .search_res p{
    text-align: center;
    margin-bottom: 10px;
    font-size: x-large;
    font-weight: 600;
  }
  .search_card {
    display: flex; 
    width: 70%;
    max-width: 1000px;
    max-height: 300px;
    margin: auto;
    border: 2px solid #ddd; 
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 10px;
    background-color: #fff;
  }
  
  .search_card img {
    min-width: 150px;
    max-width: 200px;
    min-height: 150px;
    max-height: 200px;
    background-color: #f5f5f5;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 10px;
    cursor: pointer;
  }
  .img_s{
    border-right: 1px solid #ddd;
    margin: -15px 0 -15px -15px;
    cursor: pointer;
    padding: 3px;
  }
  
  .s-c-content {
    display: flex;
    flex-direction: column;
    margin-left: 20px; 
  }
  
  .s-c-content h3 {
    margin-right: auto;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
  }
  
  .s-c-content p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    cursor: pointer;
    max-width: 100%; 
    font-size: 1.7rem;  
  }
  .s_btn{
    margin-top: auto;
    margin-bottom: 10px;
  }
  .btnss {
    background-color: #00bcd4; 
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px; 
    transition: background-color 0.3s ease; 
    margin-top: auto;
  }
  
  .btnss:hover {
    background-color: #0097a7; 
  }
  